@import '../../styles/variables.scss';

.form {
  display: flex;

  @media screen and (max-width: ($tablet - 1)) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: ($tablet)) {
    justify-content: center;
  }

  width: 100%;
}

.label {
  display: flex;
  flex-direction: column;
  position: relative;

  @media screen and (max-width: ($tablet - 1)) {
    width: 70%;
    margin-bottom: 20px;
  }

  @media screen and (min-width: ($tablet)) {
    width: 200px;
    margin-right: 20px;
  }
}

.addField {
  padding: 5px;

  color: $textColor;

  border: 1px solid $outerBackgroundColor;
  border-radius: 5px;
  outline: none;

  &::placeholder {
    color: $textColor;
  }

  @include transition(border-color);

  &:focus {
    border-color: $accentColor;
  }
}

.btn {
  @media screen and (max-width: ($tablet - 1)) {
    width: 70%;
  }

  height: 32px;

  padding: 7px;

  color: $white;

  background-color: gray;
  border: none;
  border-radius: 5px;

  @include twoTransitions(color, background-color);

  &:hover,
  &:focus {
    color: $textColor;
    background-color: $accentColor;
  }
}

.error {
  position: absolute;
  top: 35px;

  margin: 0;

  font-size: 12px;
  text-align: left;
  color: $errorColor;
}
